body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}

#logo {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 80px;
}

#logo img {
    height: auto;
    width: 80px;
}

.container {
    /*Taking into consideration:
        - White container looks like it occupies 80% of the width
            45% of 1440px = 720px
            720-40 = 680px
            370-40 = 330px
    */
    display: grid;
    grid-template-columns: 50% 50%;

    background-color:hsl(0, 0%, 100%);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    height: 400px;
    width: 800px;

    border: 35px solid white;
    border-radius: 4%;
    
    margin: auto;
}

.leftSide{
    color: hsl(186, 14%, 43%);

    font-size: 15px;
    font-weight: 700;

    margin-top: 20px;
}

input[type=text] {
    background-color: hsl(189, 41%, 97%);
    color: hsl(185, 41%, 84%);
    
    width: 80%;
    height: 30px;

    border: 0px;
    border-radius: 5%;

    margin-top: 10px;
    padding-left: 40px;
    
}

#F1 {
    background-image: url(/images/icon-dollar.svg);
    background-position: 10px 10px;
    background-size: auto 12px;
    background-repeat: no-repeat;
}

.titles {
    margin: 30px 0px 10px;
}

.gridButtons {
    display: inline-grid;
    width: 90%;
    grid-template-columns: 33% 33% 33%;    
    gap: 10px;
}

.percentageButton {
    background-color: hsl(183, 100%, 15%);
    color: white;
    
    width: 100px;

    font-size: 20px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    text-align: center;

    border: none;
    border-radius: 5%;

    padding-top: 10px;
    padding-bottom: 10px;
}

#customButton{
    background-color: hsl(189, 41%, 97%);
    color:  hsl(186, 14%, 43%);
    
    width: 100px;

    font-size: 20px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    text-align: center;

    border: none;
    border-radius: 5%;

    padding-top: 5px;
    padding-bottom: 5px;
}


#F2 {
    background-image: url(/images/icon-person.svg);
    background-position: 10px 10px;
    background-size: auto 12px;
    background-repeat: no-repeat;
}

.rightSide {
    background-color: hsl(183, 100%, 15%);
    height: 100%;
    border-radius: 6%;
}   

